/* HeapSort.css */

.heapSort-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.heapSort-screen h1 {
    color: #000000;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.heap-container {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden; /* Prevent overflow */
}

.heap-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.heap-node {
    position: absolute;
    background-color: #4a90e2;
    color: #ffffff;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 300;
    cursor: default;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.heap-node.sorted {
    background-color: #7ed321;
    border: 2px solid #2b7d19;
}

.heap-node.active {
    background-color: #f5a623;
    transform: scale(1.2);
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.slider-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-weight: 300;
}

.slider-container label {
    margin-right: 10px;
    font-size: 1.2rem;
}

.slider-container input {
    width: 50%;
}

.buttons {
    margin-top: 0px;
}

.buttons button {
    margin: 0 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 300;
}

.buttons button:hover {
    background-color: #357ab8;
}

.buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}