body {
    margin: 0;
    overflow-x: hidden;
}

.home-wrapper {
    height: 300vh;
    /* Twice the viewport height to allow scrolling */
    overflow-y: auto;
    /* Allow vertical scrolling */
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000000;
    font: bold 40px/1.5 "IMPACT", sans-serif;
    text-align: center;
    position: relative;
}


.home-header {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-align: center;
    padding: 0;
    outline: none;
    line-height: 1.0;
    animation: fadeIn 5s ease-out, slideInTop 2s ease-out;
}

.home-header::after {
    content: '';
    position: relative;
    bottom: 3px;
    left: 0%;
    transform: translateX(-50%) scaleX(3) scaleY(1);
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 20px solid #000000;
    opacity: 0.8;
}

.slide-down {
    transform: translateY(-100vh);
    /* Slides the first screen up */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0);
    }
}