.menu-screen {
    display: flex;
    height: 90vh;
    color: #000000;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 100vh;
    width: 100%;
    transition: transform 1s ease;
    padding: 20px;
}


.menu-screen.show {
    transform: translateY(-100vh);
    /* Slide up when show class is added */
}

.menu-screen h2 {
    position: sticky;
    top: 0; /* Adjust if needed based on your layout */
    margin: 0;
    font: bold 20px/1.5 "Roboto", sans-serif;
    line-height: 30px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.menu-screen h2.fade-in {
    position: sticky;
    opacity: 1;
    /* Text is visible when the fade-in class is added */
}

.sorting-container {
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.sorting-header h3 {
    margin: 0px;
    font: bold 20px/1.5 "Roboto", sans-serif;
    top: 50%;
    position: relative;
    line-height: 20px;
    padding: 30px;
    /* Hidden by default, controlled by JS */
    transition: opacity 0.2s ease;
    /* Smooth and responsive transition of opacity */
}

.menu-screen h2:first-of-type {
    position: sticky;
    top: 20px; /* Adjust to ensure visibility */
    left: 0;
    z-index: 10; /* Ensures it's above other elements */
}

.menu-screen h2:last-of-type {
    position: sticky;
    top: 20px; /* Adjust to ensure visibility */
    right: 50px;
    z-index: 10; /* Ensures it's above other elements */
}
