/* StickyHeaders.css */
.sticky-headers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; /* Allows interaction with underlying elements */
    z-index: 1000; /* Ensures headers are always on top */
}

.left-header::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 8px solid #000000; /* Change color as needed /* Arrow size */
    /* Arrow pointing up */
}

.right-header::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 8px solid #000000; /* Change color as needed /* Arrow size */
    /* Arrow pointing up */
}



.sticky-header {
    font: bold 20px/1.5 "Roboto", sans-serif;
    transition: opacity 0.2s ease;
    cursor: crosshair;
    display: inline-block;
    padding: 5px 5px;
    margin: 0;
    background-color: #000000; /* Button-like background */
    border: 3px solid #000000; /* Button-like border */
    border-radius: 3px;
    transition: background-color 0.3s, opacity 0.3s;
}

.left-header {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 5px;
    text-shadow:
            -1px -1px 0 #ffffff,
            0   -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            1px  0   0 #ffffff,
            1px  1px 0 #ffffff,
            0    1px 0 #ffffff,
            -1px  1px 0 #ffffff,
            -1px  0   0 #ffffff;
}

.right-header {
    cursor: pointer;
    position: fixed;
    line-height: 20px;
    top: 20px;
    right: 5px;
    text-shadow:
            -1px -1px 0 #ffffff,
            0   -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            1px  0   0 #ffffff,
            1px  1px 0 #ffffff,
            0    1px 0 #ffffff,
            -1px  1px 0 #ffffff,
            -1px  0   0 #ffffff;
}




.sticky-header:hover {
    cursor: pointer;
    background-color: #ffffff; /* Change background on hover */
}